<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact List</title>
</head>
<body>
<h1>Contact List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contact : ${list}">
        <td th:text="${contact.id}"></td>
        <td th:text="${contact.firstName}"></td>
        <td th:text="${contact.lastName}"></td>
        <td th:text="${contact.email}"></td>
        <td th:text="${contact.phone}"></td>
        <td>
            <a th:href="@{/contact/edit/{id}(id=${contact.id})}">Edit</a>
            <a th:href="@{/contact/delete/{id}(id=${contact.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<!--Форма-->
<!--<h2>Create Contact</h2>-->
<!-- <form th:object="${contact}" th:action="@{/contact/create}" th:method="post">-->
<!--     <input type="text" placeholder="firstname" th:field="*{firstName}">-->
<!--     <input type="text" placeholder="lastname" th:field="*{lastName}">-->
<!--     <input type="text" placeholder="phone" th:field="*{phone}">-->
<!--     <input type="text" placeholder="email" th:field="*{email}">-->
<!--    <button type="submit">Save</button>-->
<!--</form>-->

<h2>Create Contact</h2>
<form action="/contact/create" method="post">
    <div>
        <label for="firstName">First name</label>
        <input type="text" id="firstName" name="firstName" required th:value="${contact.firstName}">
    </div>
    <br/>
    <div>
        <label for="lastName">Last name</label>
        <input type="text" id="lastName" name="lastName" required th:value="${contact.lastName}">
    </div>
    <br/>
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required th:value="${contact.email}">
    </div>
    <br/>
    <div>
        <label for="phone">Phone</label>
        <input type="text" id="phone" name="phone" required th:value="${contact.phone}">
    </div>
    <br/>
    <button type="submit">Save</button>
</form>


<!--<a href="/contact/create">Create Contact</a>-->
</body>

</html>